@tailwind base;
@tailwind components;
@tailwind utilities;

.pagination {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.page-item {
  margin: 0 0.25rem;
}

.page-link {
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  color: #66BB6A;
  cursor: pointer;
}

.page-item.active .page-link {
  background-color: #66BB6A;
  color: white;
  border: 1px solid #66BB6A;
}
